<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394518848747-l9s299mordnau6hcud15as15t65fqeqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394518848747-l9s299mordnau6hcud15as15t65fqeqd</string>
	<key>API_KEY</key>
	<string>AIzaSyA2L4t9OQMj9XplCd6JEly55tELyeNLf5U</string>
	<key>GCM_SENDER_ID</key>
	<string>394518848747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.myfirstproject</string>
	<key>PROJECT_ID</key>
	<string>myfirstproject-3a8a5</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstproject-3a8a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394518848747:ios:fef2df6c90f72dc1a1caae</string>
</dict>
</plist>